body{
  font-family: "Courier New";
  margin: 0;
}

h1{
  text-align: center;
  color: purple;
  font-family: monospace;
}

.credit {
  background: rgb(114, 7, 114);
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}
.credit a {
  color: white;
  text-decoration: none;
}
.container {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  background: rgb(89, 8, 116);
  color: white;
  padding: 50px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px;

}

.sketchButton {
  color: rgb(255, 255, 255);
  background: rgb(255, 166, 2);
  font-size: 18px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
}
.sketchButton:hover {
  background:rgb(211, 147, 28);
  color: rgb(255, 255, 255);

}

.sketchpad {
  margin:0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: green;
  cursor: pointer;
  width: 960px;

}

.square {
  background: blue;
  text-align: center;
}